:root {
  --white: #ffffff;
  --red: #ec3b40;
  --redishPink: #ef476f;
  --blue: #13559c;
  --lightBlue:#186ac2;
  --navyBlue: #001324;

  --text-xs: 0.9rem;
  --text-sm: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.6rem;
  --text-xl: 2rem;
  --text-2xl: 3rem;
  --text-3xl: 5rem;

  --lh-tight: 1.1;
  --lh-normal: 1.6;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--navyBlue);
}

.container {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to bottom,
      #00000033 30%,
      #001324F0 100%
    );
}

.hero img {
  alt: "Hero Image";
  width: 100%;
  display: block;
  padding-bottom: 15px
}

.content {
  padding: 32px 20px;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-width: 0;
}

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 105px;
  z-index: 20;
  transition: all 0.2s;
}

.navbar.scrolled {
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
}

.navbar img {
  z-index: 15;
  position: fixed;
  left: 15px;
  top: 15px;
  border-radius:50%;
  height: 75px;
  width: 75px;
}

.dropdownBtn {
  z-index: 10;
  position: fixed;
  right: 15px;
  top: 15px;
  width: max-content;
  padding: 0 30px;
  height: 75px;
  font-size: 28pt;
  background: var(--white);
  border: none;
  border-radius: 30px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.dropdownBtn:hover {
  box-shadow: inset 0 0 0 6px var(--red), 
              inset 0 0 0 12px var(--blue);
  background: var(--navyBlue);
  color: var(--white);
}

.dropdownContent {
  z-index: 10;
  top: 110px;
  right: 15px;
  visibility: hidden;
  position: fixed;
  background-color: var(--navyBlue)cc;
  width: 165px;
  height: 75px;
  border-radius: 30px;
  border: 1px solid #ffffff40;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.dropdownContent.visible {
  visibility: visible;
  opacity: 1;
}

.dropdownContent a {
  z-index: 15;
  display: block;
  color: #ffffffcc;
  text-decoration: none;
  background-color: transparent;
  font-size: 24px;
  position: relative;
  left: 15px;
  top: 15px;
  line-height: 0.50;
  transition: all 0.4s;
}

.dropdownContent a:hover {
  color: var(--redishPink);
}

h1 {
  left: var(--text-2xl);
  position: absolute;
  top: -7px;
  color: var(--white);
  font-size: 96pt;
  background-color: transparent;
  z-index: 10;
}

h2 {
  text-align: center;
  font-size: var(--text-2xl);
  position: absolute;
  top: 35%;
  bottom: 65%;
  left: 15%;
  right: 15%;
  z-index: 15;
  text-shadow: 0 4px 20px #00000099;
  background: transparent;
}

h3 {
  font-size: var(--text-xl);
  color: var(--red);
  background-color: transparent;
  position: relative;
  left: 11px;
}

h4 {
  font-size: var(--text-lg);
  color: var(--red);
  background-color: transparent;
  position: relative;
  left: 13px;
}

a {
  font-size: var(--text-md);
  color: var(--blue);
  background-color: transparent;
  position: relative;
  left: 12px;
  font-weight: bold;
  transition: all 0.4s;
}

a:hover {
  color: var(--lightBlue);
}

strong {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 13px;
}

p {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 13px;
}

.pLink {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 12px;
  font-weight: 400;
  transition: all 0.4s;
}

.pLink:hover {
  color: var(--lightBlue);
}

.card {
  background-color: #ffffff05;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 10px 30px #00000059;
  margin: 20px 10px;
}

.pricingTable {
  background-color: transparent;
  display: grid;
  grid-template-columns: 175px 25px 75px 90px 22.5px 100px;
}

.footnote {
  font-size: var(--text-xs);
  color: var(--white);
  left: 13px;
}

.btnBack .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: var(--navyBlue);
  border-radius: 1.625rem;
  float: right;
  box-shadow: inset 0 0 0 2px var(--white)
}

.btnBack .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white);
}

.btnBack .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  top: -0.05rem;
  right: 0.625rem;
  width: 1.125rem;
  height: 0.1rem;
  background: none;
}

.btnBack .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.35rem;
  left: 0rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--white);
  border-left: 0.125rem solid var(--white);
  transform: rotate(-45deg);
}

.btnBack .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 2.75rem;
  bottom: 0rem;
  padding: 0.725rem 0;
  color: var(--white);
  font-weight: 525;
  line-height: 1.6;
  text-align: center;
}

.btnBack:hover .circle {
  width: 100%;
  box-shadow: inset 0 0 0 3px #ef476f, 
              inset 0 0 0 6px #ffd166, 
              inset 0 0 0 9px #06d6a0,
              inset 0 0 0 12px #118ab2;
}

.btnBack:hover .circle .icon.arrow {
  background: var(--white);
  transform: translate(-0.5rem, 0);
}