:root {
  --white: #ffffff;
  --red: #ec3b40;
  --redishPink: #ef476f;
  --blue: #13559c;
  --lightBlue:#186ac2;
  --navyBlue: #001324;

  --text-xs: 1.35rem;
  --text-sm: 1.5rem;
  --text-md: 1.875rem;
  --text-lg: 2.4rem;
  --text-xl: 3rem;
  --text-2xl: 4.5rem;
  --text-3xl: 7.5rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--navyBlue);
}

.container {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-width: 0;
  position: static;
}

.hero {
  position: relative;
  width: 100%;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to bottom,
      #00000033 30%,
      #001324F0 100%
    );
}

.hero img {
  alt: "Hero Image";
  width: 100%;
  display: block;
  padding-bottom: 15px
}

.contentNoCards {
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-width: 0;
  position: relative;
  margin: 0 20px;
  top: 110px;
}

.contentHome {
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-width: 0;
  position: static;
  margin: 0 20px;
  display: flex;
}

.content {
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-width: 0;
  position: relative;
  margin: 0 15px;
  top: 110px;
  display: flex;
}

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 105px;
  z-index: 20;
  transition: all 0.2s;
}

.navbar.scrolled {
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
}

.navbar .scivis-logo {
  z-index: 25;
  position: fixed;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.scivis-logo {
  z-index: 25;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.ussrc-logo {
  z-index: 25;
  width: 125px;
  height: 75px;
}

.astronaut {
  z-index: 25;
  height: 350px;
}

.backBtn {
  z-index: 10;
  position: fixed;
  left: 105px;
  top: 15px;
  width: max-content;
  padding: 0 30px;
  height: 75px;
  font-size: 28pt;
  background: var(--white);
  border: none;
  border-radius: 30px;
  color: #000000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.backBtn:hover {
  box-shadow: inset 0 0 0 6px var(--red), 
              inset 0 0 0 12px var(--blue);
  background: var(--navyBlue);
  color: var(--white);
}

.dropdownBtn {
  z-index: 10;
  position: fixed;
  right: 15px;
  top: 15px;
  width: max-content;
  padding: 0 30px;
  height: 75px;
  font-size: 28pt;
  background: var(--white);
  border: none;
  border-radius: 30px;
  color: #000000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.dropdownBtn:hover {
  box-shadow: inset 0 0 0 6px var(--red), 
              inset 0 0 0 12px var(--blue);
  background: var(--navyBlue);
  color: var(--white);
}

.dropdownContent {
  z-index: 10;
  top: 110px;
  right: 15px;
  visibility: hidden;
  position: fixed;
  background-color: var(--navyBlue)cc;
  width: 200px;
  height: 75px;
  border-radius: 20px;
  border: 1px solid #ffffff40;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.dropdownContent.visible {
  visibility: visible;
  opacity: 1;
}

.dropdownContent.scrolled {
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
}

.dropdownContent a {
  z-index: 15;
  display: block;
  color: #ffffffcc;
  text-decoration: none;
  background-color: transparent;
  font-size: 24px;
  position: relative;
  left: 15px;
  top: 15.5px;
  line-height: 0.50;
  transition: all 0.4s;
}

.dropdownContent a:hover {
  color: var(--redishPink);
}

h1 {
  font-size: var(--text-3xl);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 0;
}

h2 {
  text-align: center;
  font-size: var(--text-2xl);
  position: absolute;
  top: 32.5%;
  bottom: 68.5%;
  left: 12.5%;
  right: 12.5%;
  z-index: 15;
  text-shadow: 0 4px 20px #00000099;
  background: transparent;
}

h3 {
  font-size: var(--text-xl);
  color: var(--red);
  background-color: transparent;
  position: relative;
  left: 0;
}

h4 {
  font-size: var(--text-lg);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 2px;
}

a {
  font-size: var(--text-md);
  color: var(--blue);
  background-color: transparent;
  position: relative;
  left: 1px;
  font-weight: bold;
  transition: all 0.4s;
  display: inline;
}

a:hover {
  color: var(--lightBlue);
}

strong {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 2px;
  display: inline;
}

summary {
  font-size: var(--text-xl);
  color: var(--red);
  background-color: transparent;
  position: relative;
  left: 10px;
  display: inline;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

summary:before {
  content: "‌❯‌";
  display: inline-block;
  transition: all 0.1s;
}

details[open] summary:before{
  transform: rotate(90deg);
}

details h4 {
  font-weight: normal;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

details[open] h4 {
  animation: fadeIn 0.1s forwards;
}

p {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 2px;
  display: inline;
}

.pLink {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  font-weight: 400;
  transition: all 0.4s;
  display: inline;
}

.pLink:hover {
  color: var(--lightBlue);
}

.faqLink {
  font-size: var(--text-lg);
  color: var(--blue);
  background-color: transparent;
  position: relative;
  font-weight: 400;
  transition: all 0.4s;
  display: inline;
  font-weight: normal;
}

.faqLink:hover {
  color: var(--lightBlue);
}

.footerLink {
  font-size: var(--text-sm);
  color: var(--white);
  background-color: transparent;
  position: relative;
  left: 1px;
  font-weight: 400;
  transition: all 0.4s;
  display: inline;
  text-decoration: none;
}

.footerLink:hover {
  color: var(--redishPink);
}

.homeLeft {
  min-width: 900px;
  max-width: 55vw;
}

.homeRight {
  min-width: 35vw;
  max-width: 55vw;
}

.card {
  background-color: #ffffff05;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 16px;
  box-shadow: 0 10px 30px #00000059;
  margin: 20px 10px;
}

.pricingTable {
  background-color: transparent;
  display: grid;
  grid-template-columns: 257.5px 35px 110px 285px 32.5px 100px;
}

.footnote {
  font-size: var(--text-xs);
  color: var(--white);
  left: 13px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 20px 10px;
  display: flex;
  gap: 25px;
}