body {margin: 0; padding: 0; 
background-position: right; 
background-image: url(starfield100.gif); 
background-repeat: repeat; 
font: 100% Arial, sans-serif;
}

.content {margin: 1% 5% 0 170px; 
padding: .5em 2% 0 2%; 
clear:both; 
background-color: #FFF; }

.nav {position: absolute; 
top: 3px; left: 0px;  width: 170px;  
padding: 0; margin:0; }

.footer {margin: -1em 5% 0 170px; 
padding:  .5em 2% 0 2%;
background-color: #FFF;}

h1
{margin-top: 0;
color: black;}

p.header 
{margin-top: 0;
}

h2
{margin-bottom: -0.5em; color: #f00;
}

#navlist
{
padding: .5em 5% 5px 5%;
width: 90%;
color: white;
margin: 0;
}

#navlist ul li
{
list-style: none
}
#navlist li
{margin: 0;
padding: 0;
display: block;
font-weight: bold;
width: 100%;
list-style: none
}

#navlist li#current {
display: block;
background: #9cf;
padding: 0.25em 0.5em 0.5em 0.5em;
color: black;
margin-bottom: .5em;
font-weight: bold;
width: 90%;
}

#navlist a, #navlist a:link
{
display: block; 
color: white;
background: #39c;
font-weight: bold; 
padding: 0.25em 0.5em .5em 0.5em;
width: 90%;
margin-bottom: 0.5em;
}
form 
{
color: white;
background-color: #39c;
font-weight: bold; 
margin: 0 5% 5px 5%;
padding: 0.25em 0 .5em 0.5em;

}
#navlist a:hover, #navlist a#current:hover, #navlist a:active, #navlist a#current:active, #navlist a:focus
{
background: #28b;
padding: 0.25em 0.5em 0.5em 0.5em;
}

.style1, h2 {color: #FF0000}
.style2, h1 {color: #0000CC}

.content li
{padding-bottom: .5em;}

.left 
{padding: 5px 20px;
float: right;}

@media print {
body {margin: 0; padding: 0; 
font: 100% Arial, sans-serif;}

.content {margin: 3% ; padding: 0; 
 background-color: #FFF; }
 
.nav {display:none;}
 }
